{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-md-6 mx-auto text-center">{{message}}</div>
    {% endfor %}

{% endblock %}
